.qrcode__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.qrcode__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  max-width: 320px;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 40px;
  text-align: center;
  row-gap: 24px;
}

.qrcode__image {
  border-radius: 10px;
  width: 100%;
}

.qrcode__body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-inline: 16px;
}
